@model Library.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}
<div class="content-wrapper" style='background:#C5E1A5'>
    <h1>Forgot Passoword</h1>

    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        User Email : <input type="text" asp-for="UserEmail" /><br />
        <input type="submit" value="Send Link" /><br />
    </form>

    @ViewBag.Msg;
</div>