@model Library.ViewModels.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="content-wrapper" style='background:#C5E1A5'>
    <h1>Reset your Password</h1>

    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="Token" />
        Password : <input type="password" asp-for="Password" /><br />
        Confirm Password : <input type="password" asp-for="ConfirmPassword" /><br />
        <input type="submit" value="ResetPassword" /><br />
    </form>

    @ViewBag.Msg

</div>